<labelpanel>
<div class="panel panel-default">
  <div class="panel-heading">
      <button type="button" class="btn btn-default" onclick={openLabelForm}>
      	<span class="glyphicon glyphicon-plus"></span>
      </button>
    Labels
  </div>
  <div class="panel-body">
    <div class="list-group">
      <a each={labels} href="#" onclick={labelClick} class="list-group-item">
       <strong>{name}</strong>  {description}
      </a>
    </div>
  </div>
</div>
<labelform ref="labelForm" eventbus={opts.eventbus}/>
<script>
  var self = this;
  var labels = [];
  this.namespace = "";
  
  var eventbus = opts.eventbus;
  
  eventbus.on('namespace-selected',function(namespaceItem){
	  this.namespace=namespaceItem;
	  self.getLabels(namespaceItem.name);
  });
  
  openLabelForm(e){
	  e.preventDefault();
	  this.refs.labelForm.show();
  }
  
  labelClick(e){
	e.preventDefault();
    eventbus.trigger("label-selected",e.item);
  };
  
  getLabels(namespace){
    var url = '/api/v1/labels';
	  if(namespace){
		 url+='?namespace='+namespace			 
	  }

    $.ajax({
        url: url,
        type: 'get',
        dataType: 'json',
        contentType: "application/json",
        success: function (data) {
          self.labels=data;
          self.update();
        },
        error: function(req,status,error){
          console.log("Error occurred");
        },
      });
   };
   
   this.on("mount",function(){
   });
   
   eventbus.on("label-added",function(){	 
     self.getLabels(this.namespace);
   });
  </script> 
</labelpanel>

<labelform>
<!-- Modal -->
<div class="modal fade" ref="labelModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close">
          <span>&times;</span>
        </button>
        <h3 class="modal-title">Create Label</h3>
      </div>
      <div class="modal-body">
        <div class="errors"></div>
        <form>
          <fieldset class="form-group">
            <label for="labelName">Name</label>
            <input type="text" ref="labelName" class="form-control" placeholder="" required autofocus>
          </fieldset>
          <fieldset class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" ref="description"></textarea>
          </fieldset>

          <fieldset class="form-group">
            <label for="namespace">Namespace</label>
            <select ref="namespace" class="form-control" required>
              <option></option>
              <option each="{namespaces}" value={name}>{name}</option>
            </select>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
      <button class="btn btn-primary" type="button" onclick={add}>Create</button>
      </div>
    </div>
  </div>
</div>

<script>
  var self = this;
  this.namespaces = [];
  opts.eventbus.on('namespaces-updated',function(namespaces){
	  self.namespaces=namespaces;
	  self.update();
  });
  
  this.on("mount",function(){
    $(self.refs.labelModal).on('hidden.bs.modal', function () {
      $(this).find("form")[0].reset();
      $(this).find(".errors").empty();
    });
  });
  
  show(){
	$(self.refs.labelModal).modal("show");  
  }
  
  hide(){
	$(self.refs.labelModal).modal("hide");  
  }
  
  add(e){
  	  var label = {
    	name: this.refs.labelName.value,
    	description: this.refs.description.value,
    	namespace: this.refs.namespace.value
   	  };
   	  $.ajax({
   		url: '/api/v1/labels',
        type: 'post',
        contentType: "application/json",
        success: function (data) {
        	eventbus.trigger("label-added");
        	self.hide();
        },
        error: function(req,status,error){
          var outer = this;
        	var resp = $.parseJSON(req.responseText);
        	console.log(resp);
         	if(resp.errors){
            $.each(resp.errors,function(index,error){
              outer.addErrorMsg(error);                  
            });
        	}else{
            outer.addErrorMsg(resp);
        	}
        },
        addErrorMsg:function(error){
          var msg = "";
          msg = error.field?error.field+" "+error.defaultMessage:error.message;

          var el = '<div class="alert alert-danger alert-dismissible">';
          el+='<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span></button>';
          el+= msg;
          el+='</div>';
          $(self.refs.labelModal).find(".errors").append(el);          
        },
        data: JSON.stringify(label)
      });
    };
  </script> 
</labelform>