<linkpanel>
<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{modalid}">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
    Links
  </div>
  <div class="panel-body">
    <ul>
      <li each={links}><a href="#{id}"> {srclabel}</a> {destlabel}</li>
    </ul>
  </div>
</div>
  <linkform modalid={modalid} /> 
  <script>
    this.modalid = "createLinkModal";
    var eventbus = opts.eventbus;    
    var self = this;
    var links = [];
    eventbus.on('label-selected',function(e){
    	console.log("link panel: label received");
    });
  </script> 
</linkpanel>

<linkform>

<!-- Modal -->
<div class="modal fade" id={modalid}>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">Create Link</h3>
      </div>
      <div class="modal-body">
        <div class="errors"></div>
        <form class="form-create-namespace">
          <div class="form-group">
            <label for="sourceLabel">Source Label</label>
            <input type="text" name="sourceLabel" class="form-control" placeholder="" required
              autofocus>
          </div>
          <div class="form-group">
            <label for="destLabel">Destination Label</label>
            <input type="text" name="destLabel" class="form-control" placeholder="" required>
          </div>
          <div class="form-group">
            <label for="linkType">Link Type</label>
            <select name="linkType" class="form-control" required>
              <option each="{linktype,i in linktypes}">{linktype}</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" onclick={add}>Create</button>
      </div>
    </div>
  </div>
</div>

<script>
  this.modalid = opts.modalid;
  var self = this;
  var linktypes = [];

  add(e){};
    
  getLinkTypes(){
	  $.ajax({
		  url: '/api/v1/linktypes',
      type: 'get',
      dataType: 'json',
      contentType: "application/json",
      success: function (data) {
        self.linktypes=data;
        self.update();
      },
      error: function(req,status,error){
    	  console.log("Error occurred");
      },
   });
  };
       
  this.on("mount",function(){
    self.getLinkTypes();
    $('#'+this.modalid).on('hidden.bs.modal', function () {
        $(this).find("input,textarea,select").val('').end();
        $(".errors").empty();
    });
  });
  </script> 
</linkform>
