<namespace-panel>
<div class="panel panel-default">
  <div class="panel-heading">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#createNamespaceModal">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
    Namespaces 

  </div>
  <div class="panel-body">
    <div class="list-group">
      <a each={namespaces}  href="#" id={id} onclick={namespaceClick} class="list-group-item">
        <strong>{name}</strong>  {description}
      </a>
    </div>
  </div>
</div>
<namespace-form/>
<script>
  var self = this;
  var eventbus = opts.eventbus;
  self.namespaces = [];
  self.selected = "";
  namespaceClick(e){
    self.selected=e.item;
    self.update();
    eventbus.trigger("namespace-selected",e.item);
  }
  
  getNamespaces(){
      $.ajax({
        url: '/api/v1/namespaces',
        type: 'get',
        dataType: 'json',
        contentType: "application/json",
        success: function (data) {
          console.log("retrieval namespaces success");
          self.namespaces=data;
          self.update();
          eventbus.trigger("namespaces-updated",data);
        },
        error: function(req,status,error){
          console.log("Error occurred");
        },
      });
   };
   
   this.on("mount",function(){
     self.getNamespaces();
   });
   
   eventbus.on("namespace-added",function(){
     self.getNamespaces();
   });
  </script> 
</namespace-panel>

<namespace-form>
  <!-- Modal -->
  <div class="modal fade" id="createNamespaceModal" tabindex="-1" role="dialog" aria-labelledby="createNamespaceModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="namespaceModalLabel">Create Namespace</h4>
        </div>
        <div class="modal-body">
          <div class="errors"></div>
          <form ref="addNamespace">
            <fieldset class="form-group">
              <label for="name">Name</label>
              <input type="text" ref="namespaceName" class="form-control" placeholder="" required autofocus>
            </fieldset>
            <fieldset class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" ref="description"></textarea>
            </fieldset>
          </form>
        </div>
        <div class="modal-footer">
        <button class="btn btn-primary" type="button" onclick={add}>Create</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    var self = this;
    this.on("mount",function(){
    	 self.clear();
  	});
    
    clear(){
    	 $("#createNamespaceModal").on('hidden.bs.modal', function () {
             $(this).find("form")[0].reset();
             $(this).find(".errors").empty();
           });
    }
    
    add(e){
      var namespace = {
          name: this.refs.namespaceName.value,
      	  description: this.refs.description.value
     	};
     	$.ajax({
     	  url: '/api/v1/namespaces',
        type: 'post',
        contentType: "application/json",
        success: function (data) { 	
          self.clear();
          $("#createNamespaceModal").modal("hide");
          console.log("after hide");
          eventbus.trigger("namespace-added");
        },
        error: function(req,status,error){
        	console.log(req)
        	if(!req.responseText){
                    var el = '<div class="alert alert-danger alert-dismissible" role="alert">';
                    el+='<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" >&times;</span></button>';
                    el+= "Having trouble talking to server. Please try again later";
                    el+='</div>';
                    $(".errors").append(el);
                    return;
         	}
          	var resp = $.parseJSON(req.responseText);
        	if(resp.status===409){
                var el = '<div class="alert alert-danger alert-dismissible" role="alert">';
                el+='<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" >&times;</span></button>';
                el+= ""+resp.message+"";
                el+='</div>';
                $(".errors").append(el);                      
        	}else if(resp){
                $.each(resp.errors,function(index,error){
                    var el = '<div class="alert alert-danger alert-dismissible" role="alert">';
                    el+='<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" >&times;</span></button>';
                    el+= error.field+" "+error.defaultMessage+"";
                    el+='</div>';
                    $(".errors").append(el);                      
                });        		
        	}
          },
          data: JSON.stringify(namespace)
        });
      };
    </script> 
</namespace-form>
